{% extends 'layout.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button id="discovery-button" type="button" class="btn btn-default">Refresh</button>
            </div>
        </div>
        <div class="row" id="device-list-container">
            <div class="col-xs-12">
                <ul id="device-list">
                    <!-- devices -->
                </ul>
            </div>
        </div>

        <div class="modal fade" id="pairing-modal" tabindex="-1" role="dialog" aria-labelledby="pairingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="pairingModalLabel">Device pairing</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="pairing-key-form">
                            <div class="form-group">
                                <label for="pairing-key-input">Pairing key</label>
                                <input type="text" class="form-control" id="pairing-key-input" placeholder="TV Pairing key">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="send-key-button" data-loading-text="Sending...">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% parent %}
    <script>
        var currentDeviceId = null;

        function getDevicePath() {
            return '/tv-api/device';
        }

        function displayDiscoveredDevices(devices) {
            var deviceListElement = $('#device-list');
            deviceListElement.empty();
            _.each(devices, function (device) {
                var liElt = $('<li></li>');
                var linkElt = $('<a class="device" href="#" data-uuid="' + device.uuid + '">' + device.friendlyName + '</a>');

                liElt.append(linkElt);
                if (device.registred) {
                    var favoriteElement = $(' <i class="fa fa-star"></i>');
                    liElt.append(favoriteElement);
                }

                deviceListElement.append(liElt);
            });
        }

        function sendPairingKey(uuid, key, callback) {
            var sendBtn = $('#send-key-button');
            if (_.isEmpty(key)) {
                alert('Key is empty');
            }
            else {
                sendBtn.button('loading');
                connect(uuid, key, function (res) {
                    sendBtn.button('reset');
                    callback(res);
                });
            }
        }

        function pairingKeyDefined() {
            var pairingKey = $('#pairing-key-input').val();
            sendPairingKey(currentDeviceId, pairingKey, handleConnectionResponse);
        }

        function connect(uuid, key, callback) {
            $.post(getDevicePath() + '/connect', { deviceId: uuid, pairingKey: key })
            .done(callback);
        }

        function handleConnectionResponse(res) {
            switch (res.status) {
                case 'PAIRING_KEY_DISPLAYED':
                    $('#pairing-modal').modal('show');
                    break;
                case 'CONNECTED':
                    $('#pairing-key-input').val('');
                    $('#pairing-modal').modal('hide');
                    window.location.href = '/controller';
                    break;
                default:
                    alert('Error...');
                    break;
            }
        }

        function discoverDevices() {
            $.ajax({
                url: '/tv-api/discovery'
            })
            .done(function (devices) {
                console.log('Devices :', devices);
                displayDiscoveredDevices(devices);
            });
        }

        $(function () {
            $('#discovery-button').click(function () {
                discoverDevices();
            });

            $('#device-list').on('click', '.device', function () {
                currentDeviceId = $(this).attr('data-uuid');
                connect(currentDeviceId, null, handleConnectionResponse);
                event.preventDefault();
            });

            $('#send-key-button').click(pairingKeyDefined);
            $('#pairing-key-form').submit(function () {
                pairingKeyDefined();
                event.preventDefault();
            });

            discoverDevices();
        });
    </script>
{% endblock %}